<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LegendaryCalendar copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LegendaryCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90F51911D5B7150006A1511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90F51AA1D5B7150006A1511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90F51B51D5B7150006A1511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B965C09D1D7DD8350070A369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
